 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-style: normal;
  text-align: center;
  margin: 767px 263px 22px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 819px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 163px;
    margin-right: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

.optionA {
    background-color: #b3d9ff;
}

.optionB {
    background-color: #ffb3b3;
}

/*new class to fix the bug*/
.background-img{
	background-color:white;
	width:150px;
	height:49px;
	
}
.progress {

    background-color:rgb(241, 38, 2);
}
.weapon-container{
    background-color: black;
    height: 49px;
    margin-left: auto;
    margin-right: auto;
}
.precision {
    width: 70px;
    height: 49px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
